body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content:center;
    height: 120px;
}

/*cabecalho*/

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

/*nav*/

nav ul,
nav li {
    list-style: none;
    padding: 10px;
    
}

nav ul {
    display: flex;
}

nav a {
    padding: 15px;
    margin: 10px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #727272;
}

nav .ativo,
li a:hover {
    color: #f2f2f2;
    background-color: #39aae1;
}

/*section*/

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../IMG/masseffect_2041123b.jpg);
    background-size: cover;
    background-position: left;
    height: 700px;
}

.column {
    flex-direction: column; 
}

.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 2px 2px #000;
    margin: 0;
    padding: 0;
    max-width: 700px;
    
}

.texto h2 {
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 1px #000;
    margin-top: 30px;
    max-width: 500px;
}

.opcoes {
    height: 300px;
    display: flex;
    justify-content: flex-end;
}


.opcao1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
}


.title {
    margin-bottom: 20px;
}

.descricao {
    margin-bottom: 20px;
  
}

.bottom a {
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    text-decoration: none;
    background-color: #cd3d0f;
    color: #f2f2f2;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px #000;
}

.title,
.descricao {
    font-size: 20px;
    text-shadow: 2px 1px #021e6b;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

.plus {
    background-color: blue;
    height: 100px;
}
.plus img{
    width: 100px;
    height: 100px;
    margin-top: 200px ;
}

.dualshock {
    height: 151px;
    display: flex;
    margin-left: 200px;
}

.shock {
    max-width: 600px;
    margin: 0;
    
}

.acessorios {
    margin-left: 3px;
    font-size: 14px;
    color: #0070cc;
    font-family: Arial, Helvetica, sans-serif;
}

.shock h2 {
    margin: 3px 0px;
    font-size: 36px;
    color: #373A3c;
    font-family:'Rajdhani', sans-serif;;
}

.shock p {
    margin: 3px 0px;
    font-size: 20px;
    color: #373A3c;
    font-family: 'Philosopher', sans-serif;
}

.analogico {
   
    
}

.controle img {
    height: 970px;
    width: 820px;
}